<div class="col-md-6" style="margin-top: 10%; margin-left: 20%">
	<div class="white-box">
		<div class="row"> <h2>LOGIN</h2> </div> <br>
		<form ng-submit="ctx.login()">
			<div class="row">
				<input class="form-control" type="text" ng-model="ctx.email" placeholder="email">
			</div>
			<div class="row">
				<input class="form-control" type="password" ng-model="ctx.password" placeholder="password">
			</div>
			<div class="row">
				<button class="form-control" style="background-color: blue; color: white">Login</button>
			</div>
			<div class="row">
				{{ctx.msg}}
			</div>
		</form>
		<br>
		<form ng-submit="ctx.testlogin()">
		<div class="row">
				<button class="form-control" style="background-color: blue; color: white">Test Login</button>
			</div>
		</form>
			<br>
		<a href="#/register">Not registered? Click here!</a>
	</div>
</div>
